<!DOCTYPE html>
<html lang="en">
<head>

    <!-- This is for responsive websites -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <!-- Bootstrap CSS -->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- This is the popper and tooltips package -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper-utils.min.js" integrity="sha256-t08ODMNKj32ni5ythUXnnSZxx4CdoQa9xv4FNHj8q9U=" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- bokeh files to import -->
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.7.min.css"
            rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.7.min.js"></script>


    <!-- pygal packages -->
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>



    <!-- This is survey.js library) -->
    {#<script src="https://surveyjs.azureedge.net/0.12.36/survey.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://surveyjs.azureedge.net/0.97.0/survey.css" type="text/css" rel="stylesheet" />
    <script src="https://surveyjs.azureedge.net/0.97.0/survey.jquery.min.js"></script>#}

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <meta charset="UTF-8">
    <title>finewbie - investing for beginners</title>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>