{% extends "base_template.jinja2" %}

<!-- This is the mainnnnn home page for each user 

For the description of the various goals -> maybe use scrollspy -->
{% block content %}
	<h1> Welcome! {{ email }} </h1>
	<h2> You have been successfully logged in! </h2>
{% endblock %}