{% include "base_template.jinja2" %}

<!-- This is the mainnnnn home page for each user
For the description of the various goals -> maybe use scrollspy -->

    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/users/homepage" class="navbar-left"><img src="{{ url_for('static', filename = 'newLogo.png') }}" width="auto" height="60px" alt="finewbie"></a>
            </a>
        </div>
        <div class="container-fluid">
        <div id="navbar1" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/users/homepage">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Goals <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profiles/create-goal">Create New Goal</a></li>
                        <li class="divider"></li>
                        <li><a href="/profiles/my-goals">Existing Goals</a></li>
                        <li><a href="/profiles/edit-goal">Update Goals</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/users/faqs">FAQs</a></li>
                        <li><a href="/users/assets">Asset Classes</a></li>
                        <li><a href="/users/news">News</a></li>
                    </ul>
                </li>
                <li><a href="/users/my-settings">My Info</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <body>
    {% block content %}
        {% if request.path == "/users/homepage" %}
            <div class="container">
                <h2>Welcome to finewbie, {{ email }}!</h2>
                <p> Write something here - or what else can you add for the homepage?</p>
            </div>
        {% endif %}
    {% endblock %}
    </body>
