{% include "base_template.jinja2" %}

<!-- This is the mainnnnn home page for each user
For the description of the various goals -> maybe use scrollspy -->

    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/users/homepage" class="navbar-left"><img src="{{ url_for('static', filename = 'newLogo.png') }}" width="auto" height="60px" alt="finewbie"></a>
            </a>
        </div>
        <div class="container-fluid">
        <div id="navbar1" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/users/homepage">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Goals <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profiles/create-goal">Create New Goal</a></li>
                        <li><a href="/profiles/my-goals">Existing Goals</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/users/faqs">FAQs</a></li>
                        <li><a href="/users/assets">Asset Classes</a></li>
                        <li><a href="/users/news">News</a></li>
                    </ul>
                </li>
                <li><a href="/users/my-info">My Info</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <body>
    {% block content %}
        {% if request.path == "/users/homepage" %}
            <div class="container">
            <div class="jumbotron">
                <h2><font size=150%>Welcome to finewbie, {{ user.fName }}!</font></h2>
                <p> What would you like to do today?</p>

                <style type="text/css">
                    form {
                        display: inline;
                        margin: 30px;
                    }
                </style>

                <form action = "{{ url_for('profiles.create_goal') }}" method = "GET">
                    <button type="button submit" class="btn btn-lg btn-success">Create a Goal!</button>
                </form>

                <form action = "{{ url_for('profiles.my_goals') }}">
                    <button type="button submit" class="btn btn-lg btn-info">View My Goals</button>
                </form>

                <form action = "{{ url_for('users.faqs') }}">
                    <button type="button submit" class="btn btn-lg btn-primary">Learn More</button>
                </form>

            </div>
            </div>
        {% endif %}
    {% endblock %}
    </body>
