{% extends "base_template.jinja2" %}
{% block content %}
<div class="container-fluid">
    <p></p>
    <p></p>
    <p></p>
    <ion-view>
        <div class="row" >
            <div class="col col-md-6">
                <img src="static/newIntro.png" style="width:100%">
            </div>

            <div class="col col-md-6">
                <div style="background:transparent !important" class="jumbotron">
                    <p>finewbie helps beginners create goals and achieve them through investment advice.</p>
                    <p>It's simple: register, create your goals and let finewbie suggest you how to invest your money.</p>
                    <p></p>
                    <p></p>
                    <p><b> Haven't tried finewbie?</b></p>
                    <a class="btn btn-lg btn-success" href="{{ url_for('users.register_user') }}">Sign Up Now!</a>
                    <p><b> Already a registered user?</b></p>
                    <a class="btn btn-lg btn-info" href="{{ url_for('users.login_user') }}">Login</a>
                </div>
            </div>

        </div>
    </ion-view>
</div>
 {% endblock %}