{% extends "base_template.jinja2" %}
{% block content %}
   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h2> Welcome to finewbie!</h2>
                <img src="{{ url_for('static', filename = 'newLogo.png') }}" width="auto">
                <p> finewbie is a personal asset-liability management tool for beginners!</p>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <p> Haven't tried finewbie?</p>
                    <a class="btn btn-success" href="{{ url_for('users.register_user') }}">Sign Up Now!</a>
                    <p> Already a registered user?</p>
                    <a class="btn btn-info" href="{{ url_for('users.login_user') }}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

