{% extends "base_template.jinja2" %}
{% block content %}
<!-- This is for the welcome/ about us intro page -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="src/static/finalLogo.png"</a>
    </div>

    <div>


    </div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="/login">Login</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href='/register'><span class="glyphicon glyphicon-user"></span> Sign Up!</a></li>
      <li><a href='/login'><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class = "container-fluid">
	<h2> Welcome to finewbie! </h2>
	<p> finewbie is a asset-liability management tool for beginners. Have no experience investing your money? Don't worry - we are here to walk you though the process as simply as we can </p>
</div>
{% endblock %}