{% extends "base_template.jinja2" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2> Thank you for using finewbie!</h2>
            <br>
            <br>
            <h3> Credits: </h3>
            <p> Jangwon Park, Sowmya Tata, Kai Zhang </p>
            <p> EngSci 1T7 + PEY - EMSF, Fall 2017 </p>
        </div>
        <div class="col-sm-6">
            <p> You have been succesfully logged out!</p>
            <br>
            <a class="btn btn-info" href="/home">Go back to home page</a>
        </div>
        </div>
    </div>
{% endblock %}
