{% extends "base_template.jinja2" %}

<!-- This page is for the user to register a new account. After this is done, they should be redirected to the Login page -->

{% block content %}
    <div class="container">
        <div class="form">
            <form id="register-form" action="{{ url_for('users.register_user') }}" method="POST">
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"><label for="name">First Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"><label for="age">Age</label>
                    <input type="number" class="form-control" id="age" name="age" placeholder="Age">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"><label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-lock"><label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-log-in"></span> Sign up!</button>
            </form>
        </div>
    </div>
{% endblock %}


