{% extends "homepage.jinja2" %}
{% block content %}

    <h2>{{ portfolio.port_id }} optimized!!</h2>
    <p>Until now, this is how much you saved up for your goal:</p>
    <p>{{ portfolio.mean_term_wealth }}</p>

{% endblock %}