{% extends "homepage.jinja2" %}
{% block content %}
    <div class="container">
    {% if portfolios|length == 0 %}
        <h4>Uh oh, you have no goals defined currently!</h4>
        <p>Click below to create a goal and start planning.</p>
        <form action = "{{ url_for('profiles.create_goal') }}" method = "GET">
            <button type="button submit" class="btn btn-success">Create a goal now!</button>
    </form>
    {% else %}
        <h3>The following are the portfolios of {{ session['email'] }}</h3>
        <p> Click on the links below to see more details about each portfolio.</p>
        {% for temp in portfolios %}
            <a href="{{ url_for('portfolios.port_summary', portfolio_id=temp['port_id']) }}">{{ temp['name'] }}</a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}