{% extends "homepage.jinja2" %}
{% block content %}
    <div class="container">
    {% if portfolios.port_ids|length == 0 %}
        <h4>Uh oh, you have no goals defined currently!</h4>
        <p>Click below to create a goal and start planning.</p>
        <form action = "{{ url_for('profiles.create_goal') }}" method = "GET">
            <button type="button submit" class="btn btn-success">Create a goal now!</button>
    </form>
    {% endif %}
    <h3>The following are the portfolios of {{ portfolios.email }}</h3>
    <p> Click on the links below to see more details about each portfolio.</p>
    {% for temp in portfolios.port_ids %}
    <a href="{{ url_for('portfolios.port_summary', portfolio_id=temp) }}">{{ temp }}</a>
    {% endfor %}
</div>
{% endblock %}